*
!quartz.config.ts
!quartz.layout.ts
!quartz/components/Footer.tsx
!quartz/components/ContentMeta.tsx
!quartz/components/PageList.tsx
!quartz/components/scripts/darkmode.inline.ts
!quartz/components/styles/darkmode.scss
!quartz/components/styles/footer.scss